<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">TIA SUpervision | OMM </div>
        </div>
    </div>
</footer>