
<nav class="sb-topnav navbar navbar-expand md-9" style="background-color: #352b2b">
    <a class="navbar-brand" href="/" style="color : white">STUDY.IO {% block onglet %}{% endblock %}</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars" style="color : white"></i></button>
    <!--
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    -->
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-10">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw" style="color:white"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" style="color:white">
                <span class="dropdown-item">
                    Lebron James
                </span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">Logout</a>
            </div>
        </li>
    </ul>
</nav>

