<div class="sb-sidenav-menu" style="background-color: #e7e9eb">
       <div class="nav">
           <div class="sb-sidenav-menu-heading" style="color : black">MASTERCLASS DU TRADING</div>
           <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
               <span style="color : black; font-size : 13px">MODULE 1 : Introduction</span>
               <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down" style="color : black"></i></div>
           </a>
           <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
               <nav class="sb-sidenav-menu-nested nav">
                   <a class="nav-link collapsed" data-bs-target="#components-nav1" data-bs-toggle="collapse" href="#">
                       <span style="color : green; font-size : 12px">1: Introduction au Trading</span>
                       <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down" style="color : black"></i></div>
                   </a>
                   <ul id="components-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav" style="color : black; font-size : 12px">
                       <nav class="sb-sidenav-menu-nested nav">
                           <a style="color : black" class="nav-link" href="def_obj">Définition et objectifs</a>
                           <a style="color : black" class="nav-link" href="investir_trader">Investir VS Trader</a>
                       </nav>
                   </ul>
               </nav>

               <nav class="sb-sidenav-menu-nested nav">
                   <a class="nav-link collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
                       <span style="color : green; font-size : 12px">2: Fondamentaux</span>
                       <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down" style="color : black"></i></div>
                   </a>
                   <ul id="components-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav" style="color : black; font-size : 12px">
                       <nav class="sb-sidenav-menu-nested nav">
                           <a style="color : black" class="nav-link" href="">Les acteurs clés</a>
                           <a style="color : black" class="nav-link" href="">Objectifs et risques associés au trading</a>
                           <a style="color : black" class="nav-link" href="">Comprendre les symboles boursiers et les cotations</a>
                       </nav>
                   </ul>
               </nav>

               <nav class="sb-sidenav-menu-nested nav">
                   <a class="nav-link collapsed" data-bs-target="#components-nav3" data-bs-toggle="collapse" href="#">
                       <span style="color : green; font-size : 12px">3: Instruments Financiers</span>
                       <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down" style="color : black"></i></div>
                   </a>
                   <ul id="components-nav3" class="nav-content collapse " data-bs-parent="#sidebar-nav" style="color : black; font-size : 12px">
                       <nav class="sb-sidenav-menu-nested nav">
                           <a style="color : black" class="nav-link" href="def_obj">Actions, obligations, devises, matières premières</a>
                           <a style="color : black" class="nav-link" href="investir_trader">Introduction aux produits dérivés : options, contrats à terme</a>
                       </nav>
                   </ul>
               </nav>

               <nav class="sb-sidenav-menu-nested nav">
                   <a class="nav-link collapsed" data-bs-target="#components-nav4" data-bs-toggle="collapse" href="#">
                       <span style="color : green; font-size : 12px">4: Terminologie de Base</span>
                       <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down" style="color : black"></i></div>
                   </a>
                   <ul id="components-nav4" class="nav-content collapse " data-bs-parent="#sidebar-nav" style="color : black; font-size : 12px">
                       <nav class="sb-sidenav-menu-nested nav">
                           <a style="color : black" class="nav-link" href="def_obj">Vocabulaire courant du trading</a>
                           <a style="color : black" class="nav-link" href="investir_trader">Lecture des spreads</a>
                       </nav>
                   </ul>
               </nav>

           </ul>
        </div>
</div>
<div class="sb-sidenav-footer" style="background-color: #352b2b">
        <div class="small">Logged in as: {{ user.username }}</div>
</div>
