{% extends "layouts/base.html" %}

<!-- Ici le titre de la page  -->
{% block title %}
Orange
{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block onglet %} Market Share {% endblock onglet %}

{% block content %}
<div class="pagetitle">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
          <h3 style="margin-left : 15px">Définition et Objectifs</h3>
          <nav>
            <ol class="breadcrumb" style="background-color : #f6f9ff">
              <li class="breadcrumb-item"><a>Module 1</a></li>
              <li class="breadcrumb-item">Introduction</li>
              <li class="breadcrumb-item active">Définition et objectifs</li>
            </ol>
          </nav>
          <hr style="margin-left : 15px">
          <section>
              <h4 style="margin-left : 15px; color : green">1- Définition du Trading et de ses Objectifs</h4>
          <h5 style="margin-left : 15px; color : purple; font-weight : bold"><span><i class="glyphicon glyphicon-pushpin"></i></span> Définition du Trading :</h5>
              <p style="margin-left : 15px; text-align : justify">Le trading est une pratique financière qui implique l'achat et la vente d'actifs tels que des actions,
                  des devises et des matières premières dans le but de réaliser des profits.
                  Les traders participent activement aux marchés financiers, analysant les tendances, prenant des décisions éclairées et
                  ajustant constamment leurs positions pour tirer parti des fluctuations des prix.</p>
              <p style="margin-left : 15px; text-align : justify">Il s'agit d'une activité dynamique qui requiert une compréhension approfondie des marchés et la capacité de réagir rapidement aux changements.</p>

              <div style="background-color: #e7e9eb; border: 0 0 green; padding: 15px; margin: 20px; border-radius : 5px">
                  <p style="font-weight : bold">Exemple : </p>
                  <p>Un trader de devises pourrait acheter des euros (EUR) tout en vendant des dollars américains (USD) s'il anticipe une appréciation de l'euro par rapport au dollar. </p>
              </div>
                <br>
              <h5 style="margin-left : 15px; color : purple; font-weight : bold"><span><i class="glyphicon glyphicon-screenshot"></i></span> Objectif du Trading :</h5>
              <p style="margin-left : 15px; text-align : justify">Dans le monde du trading, plusieurs objectifs guident les actions des traders :</p><br>
              <p style="margin-left : 15px; text-align : justify; color: red"><span><i class="glyphicon glyphicon-minus"></i></span> Maximiser les Rendements Financiers :</p>
              <p style="margin-left : 15px; text-align : justify">L'objectif principal du trading est de générer des profits en exploitant les mouvements des marchés.
                  Les traders cherchent à capitaliser sur les opportunités à court terme pour réaliser des gains financiers.</p>
              <br>
              <p style="margin-left : 15px; text-align : justify; color: red"><span><i class="glyphicon glyphicon-minus"></i></span> Gérer et Contrôler les Risques :</p>
              <p style="margin-left : 15px; text-align : justify">Une gestion efficace des risques est essentielle dans le trading.
                  Les traders utilisent des stratégies telles que les ordres stop-loss pour limiter les pertes potentielles et protéger leur capital.</p>
              <br>
              <p style="margin-left : 15px; text-align : justify; color: red"><span><i class="glyphicon glyphicon-minus"></i></span> Acquérir une Compréhension Approfondie des Marchés :</p>
              <p style="margin-left : 15px; text-align : justify">Les traders développent une expertise dans l'analyse des marchés, comprennent les facteurs qui
                  influent sur les prix et restent informés des événements économiques mondiaux.</p>
              <br>
              <p style="margin-left : 15px; text-align : justify; color: red"><span><i class="glyphicon glyphicon-minus"></i></span> Développer des Compétences Analytiques et une Discipline de Trading :</p>
              <p style="margin-left : 15px; text-align : justify">Le trading demande des compétences analytiques pour interpréter les graphiques et les indicateurs,
                  ainsi qu'une discipline pour suivre les stratégies de manière cohérente..</p>

          </section>
      </div>
      <div class="col-sm-1"></div>
    </div>
</div><!-- End Page Title -->




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace("w3-black", "w3-red");
  } else {
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace("w3-red", "w3-black");
  }
}
</script>
{% endblock javascripts %}
