{% extends "layouts/base.html" %}

<!-- Ici le titre de la page  -->
{% block title %}
Orange
{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block onglet %} Market Share {% endblock onglet %}

{% block content %}
<div class="pagetitle">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
          <h3 style="margin-left : 15px">Introduction</h3>
          <nav>
            <ol class="breadcrumb" style="background-color : #f6f9ff">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Marketing Digital</li>
              <li class="breadcrumb-item active">Introduction</li>
            </ol>
          </nav>
          <hr style="margin-left : 15px">
          <section>
              <h4 style="margin-left : 15px; color : green">PARTIE 1</h4>
              <h5 style="margin-left : 15px; color : purple">Sous partie 1</h5>
              <p style="margin-left : 15px; text-align : justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
              adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie,
              enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue.
              Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum.
              Maecenas adipiscing ante non diam sodales hendrerit.
              </p>
              <p style="margin-left : 15px; text-align : justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
              adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie,
              enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue.
              Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum.
              Maecenas adipiscing ante non diam sodales hendrerit.
              </p>
          </section>
      </div>
      <div class="col-sm-1"></div>
    </div>
</div><!-- End Page Title -->




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
