<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ProFolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Template Main CSS File -->

 <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="">ProFolio</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="#about">A propos</a></li>
          <li><a href="#team">Nos profils</a></li>
          <li><a href="#services">Nos offres</a></li>
          <li><a href="#pricing">Nos prix</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a class="getstarted" href="inscription.html">S'incrire</a></li>
          <li><a class="getstarted" href="connexion.html">Se connecter</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Welcome to <span style="color : orange">ProFolio</span></h1>
      <h6 style="color : orange">"Cultivons l'excellence, célébrons l'authenticité."</h6>
      <h6 style="color : #eee; font-size: 20px;">
        Un moyen pour les talents de mettre en avant leurs compétences et leurs portfolios </br>en ligne sans avoir besoin de créer un site web indépendant.
      </h6>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" style="border-radius: 10px;">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                  <p>Profils</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                  <p>Recruteur</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                  <p>Offres</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="{% static 'assets/img/ab.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>Mettez en Lumière votre Talent avec des Portfolios en ligne</h3>
            <p class="fst-italic">
              ProFolio offre aux professionnels une plateforme dynamique pour présenter leurs compétences et réalisations de manière professionnelle et accessible en ligne. </br></br>
              Voici ce que nous proposons :
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i>
                <span style="color : #3c4133; font-weight: 700;">Mettez en avant votre Talent :</span></br>Créez des portfolios captivants qui mettent en lumière vos compétences et réalisations uniques.
              </li>
              <li><i class="bx bx-check-double"></i>
                <span style="color : #3c4133; font-weight: 700;">Visibilité Maximale</span></br>
                Votre profil et portfolios sont accessibles à un réseau de recruteurs à la recherche de talents exceptionnels.
              </li>
              <li><i class="bx bx-check-double"></i>
                <span style="color : #3c4133; font-weight: 700;">Facilité d'Utilisation :</span></br>
                Pas besoin de compétences techniques. Notre plateforme conviviale vous permet de créer et de gérer votre profil en toute simplicité.
              </li>
              <li><i class="bx bx-check-double"></i>
                <span style="color : #3c4133; font-weight: 700;">Pour les recruteurs, Économisez du Temps et des Ressources :</span></br>
                Notre plateforme rationalise le processus de recrutement, vous permettant de trouver le bon candidat plus rapidement et efficacement.
              </li>
            </ul>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <section style="background: #e7fbf7;padding: 50px 0;" id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Nos meilleurs profils</h2>
          <p>Découvrez la diversité des talents et des parcours qui composent notre communauté ProFolio.
            </br>Chaque profil est une histoire d'authenticité, de passion et d'expertise. Explorez et trouvez le professionnel qui saura répondre à vos besoins</p>

        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpg'%}" alt="">
              </br>
              <i style="color: orange" class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <h4>Walter White</h4>
              <span>Devloppeur Java</span>
              <p>
                 3 ans d'expérience
              </p>
              <button style="border: 1px solid black;" type="button" class="btn btn-default">Voir le profil</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-2.jpg'%}" alt="">
              </br>
              <i style="color: orange" class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <h4>Sarah Jhinson</h4>
              <span>Data Eng</span>
              <p>
                3 ans d'expérience
              </p>
              <button style="border: 1px solid black;" type="button" class="btn btn-default">Voir le profil</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-3.jpg'%}" alt="">
              </br>
              <i style="color: orange" class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <h4>William Anderson</h4>
              <span>Designer</span>
              <p>
                3 ans d'expérience
              </p>
              <button style="border: 1px solid black;" type="button" class="btn btn-default">Voir le profil</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-4.jpg'%}" alt="">
              </br>
              <i style="color: orange" class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <h4>Sarah Jhinson</h4>
              <span>Admin Sys</span>
              <p>
                3 ans d'expérience
              </p>
              <button style="border: 1px solid black;" type="button" class="btn btn-default">Voir le profil</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-5.jpg'%}" alt="">
              </br>
              <i style="color: orange" class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <h4>Walter White</h4>
              <span>Devloppeur Java/span>
              <p>
                 3 ans d'expérience
              </p>
              <button style="border: 1px solid black;" type="button" class="btn btn-default">Voir le profil</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-6.jpg'%}" alt="">
              </br>
              <i style="color: orange" class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <h4>Sarah Jhinson</h4>
              <span>Data Eng</span>
              <p>
                3 ans d'expérience
              </p>
              <button style="border: 1px solid black;" type="button" class="btn btn-default">Voir le profil</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-4.jpg'%}" alt="">
              </br>
              <i style="color: orange" class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <h4>William Anderson</h4>
              <span>Designer</span>
              <p>
                3 ans d'expérience
              </p>
              <button style="border: 1px solid black;" type="button" class="btn btn-default">Voir le profil</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpg'%}" alt="">
              </br>
              <i style="color: orange" class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <i style="color: orange"class="bi bi-star-fill"></i>
              <h4>Sarah Jhinson</h4>
              <span>Admin Sys</span>
              <p>
                3 ans d'expérience
              </p>
              <button style="border: 1px solid black;" type="button" class="btn btn-default">Voir le profil</button>
            </div>


        </div>
        <div class="text-center">
          <button style="border: 1px solid black; border-radius: 25px;display: inline-block;padding: 8px 28px;margin-top: 10px;" type="button" class="btn btn-default">Voir tous les profils</button>
        </div>
      </div>
    </section><!-- End Team Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>Offres recentes</h2>
          <p>Découvrez les opportunités professionnelles exceptionnelles proposées par nos partenaires recruteurs.
            </br>Chaque offre représente une porte ouverte vers une carrière enrichissante. Explorez et trouvez l'opportunité qui correspond à vos ambitions.</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>

          <div class="col-md-12">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>

          <div class="col-md-12">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>

        </div>
        <div class="text-center">
          <button style="border: 1px solid black; border-radius: 25px;display: inline-block;padding: 8px 28px;margin-top: 10px;" type="button" class="btn btn-default">Voir tous les offres</button>
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Pricing Section ======= -->
    <section style="background: #e7fbf7;padding: 25px 0;padding-bottom: 75px" id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>
            Découvrez nos offres d'abonnement conçues pour répondre à vos besoins spécifiques.
            </br>Que vous souhaitiez explorer les fonctionnalités de base ou débloquer tout le potentiel de ProFolio, nous avons une offre qui vous convient.
            </br>Choisissez parmi nos trois options d'abonnement : Gratuit, Basic et Ultimate, et transformez votre expérience avec ProFolio.
          </p>
        </div>

        <div class="row text">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Essential</h3>
              <h4><sup>Ar</sup>2000<span> / mois</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">S'abonner</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Basic</h3>
              <h4><sup>Ar</sup>3000<span> / mois</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">S'abonner</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>Ar</sup>5000<span> / mois</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">S'abonner</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section style="padding: 25px; padding-bottom: 75px" id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Contact</h2>
          <p data-aos="fade-up">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>info@example.com<br>contact@example.com</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>DevFolio</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Nos profils</a></li>
              <li><a href="#">Nos offres</a></li>
              <li><a href="#">Nos prix</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DevFolio</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Area Tech</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>