{% extends "layouts/base.html" %}

<!-- Ici le titre de la page  -->
{% block title %}
Orange
{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block onglet %} Market Share {% endblock onglet %}

{% block content %}
<div class="pagetitle">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
          <h3 style="margin-left : 15px">Investir VS Trader</h3>
          <nav>
            <ol class="breadcrumb" style="background-color : #f6f9ff">
              <li class="breadcrumb-item"><a>Module 1</a></li>
              <li class="breadcrumb-item">Introduction</li>
              <li class="breadcrumb-item active">Investir VS trader</li>
            </ol>
          </nav>
          <hr style="margin-left : 15px">
          <section>
              <h4 style="margin-left : 15px; color : green">2- Distinction entre Investir et Trader</h4>
              <h5 style="margin-left : 15px; color : purple; font-weight : bold"><span><i class="glyphicon glyphicon-flash"></i></span> Investir :</h5>

              <p style="margin-left : 15px; text-align : justify">L'investissement implique l'achat d'actifs avec l'intention de les conserver sur le long terme dans l'espoir d'une croissance ou d'un rendement financier stable.</p>
              <br>
              <p style="margin-left : 15px; text-align : justify; font-weight : bold">Caractéristiques de l'Investissement :</p>

              <ul style="margin-left : 15px; text-align : justify">
                  <li><span style="font-weight : bold; color : green">Horizon Temporel à Long Terme :  </span>Les investisseurs sont prêts à conserver leurs actifs pendant des périodes prolongées.</li>
                  <li><span style="font-weight : bold; color : green">Moins Fréquente des Transactions :   </span>Les transactions sont moins fréquentes, les ajustements étant basés sur des changements fondamentaux importants.</li>
                  <li><span style="font-weight : bold; color : green">Orientation vers la Valeur Intrinsèque :  </span>Les investisseurs cherchent des actifs sous-évalués en se concentrant sur la valeur intrinsèque des entreprises.</li>
              </ul>
              <div style="background-color: #e7e9eb; border: 0 0 green; padding: 15px; margin: 20px; border-radius : 5px">
                  <p style="font-weight : bold">Exemple : </p>
                  <p>Un investisseur à long terme peut acheter des actions d'une entreprise solide et les détenir pendant des années, percevant des dividendes réguliers. </p>
              </div>

              <h5 style="margin-left : 15px; color : purple; font-weight : bold"><span><i class="glyphicon glyphicon-stats"></i></span> Trader :</h5>

              <p style="margin-left : 15px; text-align : justify">Le trading se concentre sur des transactions plus fréquentes pour exploiter les fluctuations des prix à court terme.</p>
              <br>
              <p style="margin-left : 15px; text-align : justify; font-weight : bold">Caractéristiques du Trading :</p>

              <ul style="margin-left : 15px; text-align : justify">
                  <li><span style="font-weight : bold; color : green">Horizon Temporel à Court Terme :  </span>Les traders cherchent à profiter des variations de prix à court terme.</li>
                  <li><span style="font-weight : bold; color : green">Fréquence Élevée des Transactions :   </span> Les transactions sont plus fréquentes, avec des ajustements constants des positions.</li>
                  <li><span style="font-weight : bold; color : green">Utilisation d'Analyses Techniques et Fondamentales :  </span>Les traders utilisent des outils d'analyse technique et fondamentale pour prendre des décisions rapides.</li>
              </ul>
              <div style="background-color: #e7e9eb; border: 0 0 green; padding: 15px; margin: 20px; border-radius : 5px">
                  <p style="font-weight : bold">Exemple : </p>
                  <p>Un "day trader" peut acheter et vendre des actions au cours de la même journée, basant ses décisions sur des modèles de graphiques et des données de marché en temps réel. </p>
              </div>

              <div style="background-color: #d9eee1; border: 0 0 green; padding: 15px; margin: 20px; border-radius : 5px">
                  <p style="font-weight : bold">Résumer : </p>
                  <table class="w3-table-all" >
                    <thead>
                      <tr class="w3-red" >
                        <th >INVESTIR</th>
                        <th>TRADER</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>Horizon Temporel à Long Terme</td>
                      <td>Horizon Temporel à Court Terme</td>
                    </tr>
                    <tr>
                      <td>Moins Fréquente des Transactions</td>
                      <td>Fréquence Élevée des Transactions</td>
                    </tr>
                    <tr>
                      <td>Orientation vers la Valeur Intrinsèque</td>
                      <td>Utilisation d'Analyses Techniques et Fondamentales</td>
                    </tr>
                  </table>
              </div>


          </section>
      </div>
      <div class="col-sm-1"></div>
    </div>
</div><!-- End Page Title -->




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
