<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevFolio</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% load static %}
    <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
</head>

<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">DevFolio</a>
          </div>
      </div>
      <div class="col-sm-7">
          <ul class="nav navbar-nav" style="float:right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Nos profils</a></li>
              <li><a href="#">Nos offres</a></li>
              <li><a href="#">Nos prix</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#" style="color:orange">S'inscrire</a></li>
              <li><a href="#" style="color:orange">Se connecter</a></li>

          </ul>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</nav>

<section id="hero">
<div class="container-fluid" style="margin-top:50px">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3" style="margin-top : 125px">
          <h2>Welcome to DevFolio</h2>
          <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
          </h5>
          <button type="button" class="btn btn-default">Get started</button>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-3" style="margin-top : 125px; float : right">
            fg
      </div>
      <div class="col-sm-1"></div>
    </div>
</div>
</section>

<main id="main">

<section id="">
<div class="container-fluid" style="">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10" style="background-color : white; height: 50vh; border: 1px ridge ; margin-top: -150px; border-radius: 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);">

      </div>

      <div class="col-sm-1"></div>
    </div>
</div>
</section>

</main>

</body>
</html>